<html>
    <head>
        <!-- -->
        <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.4.css" />
        <script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.11.4.js"></script>
        <script type="text/javascript" src="/static/select2.js"></script>
        <script type="text/javascript" src="/static/shortcut.js"></script>
        <script type="text/javascript" src="/static/money.js"></script>
        <!-- -->
        <link rel="stylesheet" type="text/css" href="/static/select2.css" />
        <link rel="stylesheet" type="text/css" href="/static/money.css" />
    </head>
    <body>
        <!-- used for dialog boxes -->
        <div id="dialog" class="dialog"></div>
        <!-- main table -->
        <div id="page-header">
            money.ithaca.pl
        </div>
<!--
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
        <div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}
-->
{% block index %}
{% endblock %}
        <!-- -->
        <div id="page-footer">
            footer
        </div>
        {{ session }}
    </body>
</html>
