<div id="login-panel-container">
    <form action="" method=post class="form-horizontal">
    <div id="login-panel-header">
        sign in
    </div>
    <div id="login-panel-username-label">
        username
    </div>
    <div id="login-panel-username-input">
        <input type="text" id="login-panel-username-input-field" name="login"
               placeholder="username" required>
    </div>
    <div id="login-panel-password-label">
        password
    </div>
    <div id="login-panel-password-input">
        <input type="password" id="login-panel-password-input-field" name="password"
               placeholder="password" required>
    </div>
    <div id="login-panel-submit">
        <button type="submit" id="login-panel-submit-button">sign in</button>
    </div>
    </form>
</div>
