{% from "macros.html" import cash_amount %}
{% extends "authenticated.html" %}
{% block body %}
{% include "top_menu.html" %}
{% include "date_panel.html" %}
{% include "last_n_panel.html" %}
{% include "switch_account_panel.html" %}
<div class="mi mi-operation-list-container">
    <div class="mi mi-operation-list-header">
        <div class="mi mi-operation-list-delete"></div>
        <div class="mi mi-operation-list-edit"></div>
        <div class="mi mi-operation-list-booked"></div>
        <div class="mi mi-operation-list-date">
            date
        </div>
        <div class="mi mi-operation-list-tags">
            tags
        </div>
        <div class="operation-list-description">
            description
        </div>
        <div class="mi mi-operation-list-amount">
            amount
        </div>
        <div class="mi mi-operation-list-balance">
            balance
        </div>
    </div>
{% for operation in operations %}
    <div class="mi mi-operation-list-row">
        <div class="mi mi-operation-list-delete">
            <a href="{{ url_for('operation_edit', id=operation.id) }}">
                <img class="mi mi-operation-list-delete" src="/static/remove.png">
            </a>
        </div>
        <div class="mi mi-operation-list-edit">
            <a onclick="dialog('{{ url_for("operation_edit", id=operation.id) }}');">
                <img class="mi mi-operation-list-edit" src="/static/edit.png">
            </a>
        </div>
        <div class="mi mi-operation-list-booked">
            <a href="{{ url_for('operation_edit', id=operation.id) }}">
                {% if operation.booked %}
                <img class="mi mi-operation-list-booked" src="/static/booked.png">
                {% else %}
                <img class="mi mi-operation-list-booked" src="/static/scheduled.png">
                {% endif %}
            </a>
        </div>
        <div class="mi mi-operation-list-date">
             {{ operation.date  }}
        </div>
        <div class="mi mi-operation-list-tags" title="{{ operation.tags|map(attribute='name')|sort|join(', ') }}">
            {{ operation.tags|map(attribute='name')|sort|join(', ')|truncate(40, True) }}
        </div>
        <div class="operation-list-description" title="{{ operation.description }}">
            {{ operation.description|truncate(20, True) }}
        </div>
        <div class="mi mi-operation-list-amount">
            {{ cash_amount(operation.amount) }}
        </div>
        <div class="mi mi-operation-list-balance">
            {{ cash_amount(operation.amount) }}
        </div>
    </div>
{% else %}
    <div class="mi mi-operation-list-empty">
        no operations were found
    </div>
{% endfor %}
    <div class="mi mi-operation-list-action-row">
        <a class="mi mi-operation-list-action-link" onclick="dialog('{{ url_for("operation_edit", id=0) }}');">add new one</a>
    </div>
</div>
{% endblock %}
