<div id="top-menu-container">
    <div id="top-menu-link"></div>
    <div id="top-menu-link">
        <a id="top-menu-link" href='{{ url_for('account_list') }}'>accounts</a>
    </div>
    <div id="top-menu-link">
        <a id="top-menu-link" href='{{ url_for('my_account') }}'>schedule</a>
    </div>
    <div id="top-menu-link">
        <a id="top-menu-link" href='{{ url_for('my_account') }}'>reports</a>
    </div>
    <div id="top-menu-link"></div>
    <div id="top-menu-link"></div>
    <div id="top-menu-link"></div>
    <div id="top-menu-link"></div>
    <div id="top-menu-link">
        <a id="top-menu-link" href='{{ url_for('my_account') }}'>my&nbsp;account</a>
    </div>
    <div id="top-menu-link">
        <a id="top-menu-link" href="#dialog" onclick="dialog('{{ url_for("dialog_logout") }}');">logout</a>
    </div>
</div>
